.idea
packer/variables.json
packer/immutable_variables.json

# Terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/

# Ansible
*.retry
service-account-file.json
jdauphant.nginx
vault.key
